useDynLib("Rfast2", .registration = TRUE)

importFrom("stats", "pt", "cov", "pchisq", "pf", "cor", "qt", "sd", 
"qnorm", "dpois", "pnorm", "rchisq", "rexp", ".lm.fit", "qf", 
"model.matrix", "aggregate", "prcomp", "qchisq", "optimise", 
"runif", "dnorm", "dbinom", "dexp", "dgeom", "nlm" , "optimize",
"optim","lm.fit")

importFrom("Rfast", vm.mle, colvm.mle, colmeans, colsums, eachrow, 
group.sum, colVars, spdinv, mediandir, colMins, nth, group.mean,
gammamle, weibull.mle, poisson_only, logistic_only, multinom.regs,
multinom.mle, Var, normlog.regs, eachcol.apply, Sort)

importFrom(Rcpp, evalCpp)


export(add.term,benchmark,bic.regs,censpois.mle,censweibull.mle,circ.cor1,circ.cors1,col.waldpoisrat,colGroup,colmeansvars,colQuantile,colTrimMean,covar,diffic,discrim,gammapois.mle,Intersect,is.lower.tri,is.upper.tri,km,logiquant.regs,lud,Merge,mle.lda,mmpc,pc.sel,pooled.colVars,purka.mle,Quantile,rowQuantile,rowTrimMean,sp.logiregs,trim.mean,trunccauchy.mle,truncexpmle,wald.poisrat,welch.tests,zigamma.mle,zil.mle,ziweibull.mle)

S3method(print,benchmark)
